@import "_variables"; //引入全域變數
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); //引入google font

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@import "demo.scss"; //引入demo.scss

body {
  color: var(--primary);
}

// body{
//     background-image: url(../img/demo.png);
// }

@font-face {
  font-family: "PingFangTC";
  src: url("../fonts/PingFangTC-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: "PingFangTC";
  src: url("../fonts/PingFangTC-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "PingFangTC";
  src: url("../fonts/PingFangTC-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "PingFangTC";
  src: url("../fonts/PingFangTC-Semibold.otf") format("opentype");
  font-weight: 600; /* Semibold */
  font-style: normal;
}
